<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseCiudadano}">
<head>
    <title>Crear nuevo ciudadano</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"  href="https://bootswatch.com/5/minty/bootstrap.css" />

</head>
<body>
<div layout:fragment="content">
<h1>Crear usuario</h1>
<form align="center" action="#" th:action="@{/ciudadano/add}"
      th:object="${ciudadano}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" maxlength="50" th:field="*{dniCiudadano}" required/></td>
        </tr>
        <tr>
            <td><label>Edad</label></td>
            <td><input type="number" maxlength="3" th:field="*{edad}" required/></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" maxlength="9" th:field="*{dni}" required/></td>
        </tr>
        <tr>
            <td><label>Telefono</label></td>
            <td><input type="tel" pattern="[0-9]{9}" th:field="*{telefono}" required/></td>
        </tr>
        <tr>
            <td><label>Código Postal</label></td>
            <td><input type="text" maxlength="12" th:field="*{codPostal}" required/></td>
        </tr>
        <tr>
            <td><label>País</label></td>
            <td><input type="text" maxlength="50" th:field="*{pais}" required/></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" maxlength="200" th:field="*{direccion}" required/></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" maxlength="50" th:field="*{email}" required/></td>
        </tr>
        <tr>
            <td><label>Ciudad</label></td>
            <td><input type="text" maxlength="40" th:field="*{ciudad}" required/></td>
        </tr>
        <tr>
            <td><label>Pin</label></td>
            <td><input type="text" maxlength="4" th:field="*{pin}" required/></td>
        </tr>
    </table><br>
    <td colspan="2"><input type="submit" value="Crear cuenta" required/></td>
</form>
</div>
</body>
</html>