<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modificar ciudadano</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Actualizar Ciudadano</h2>
<form action="#" th:action="@{/ciudadano/update}"
      th:object="${ciudadano}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{dniCiudadano}" /></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
        </tr>
        <tr>
            <td><label>Telefono</label></td>
            <td><input type="tel" pattern="[0-9]{9}" th:field="*{telefono}" /></td>
        </tr>
        <tr>
            <td><label>Código Postal</label></td>
            <td><input type="text" th:field="*{codPostal}" /></td>
        </tr>
        <tr>
            <td><label>País</label></td>
            <td><input type="text" th:field="*{pais}" /></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Ciudad</label></td>
            <td><input type="text" th:field="*{ciudad}" /></td>
        </tr>
        <tr>
            <td><label>Pin</label></td>
            <td><input type="text" th:field="*{pin}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Actualizar Ciudadano" /></td>
        </tr>
    </table>
    <a href="/ciudadano/indice" th:href="@{/ciudadano/indice}"><button type="button" class="btn btn-warning">Volver</button></a>
</form>
</body>
</html>