<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Gestionar Gestores Municipales</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css" />
</head>
<body>
<div layout:fragment="content">
<h1>Lista de Gestores municipales</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Telefono</th>
        <th>Cod.Postal</th>
        <th>Pais</th>
        <th>Dirección</th>
        <th>Email</th>
        <th>Municipio</th>
        <th></th>
    </tr>

    </thead>
    <tbody>
    <tr th:each="gestor: ${gestores}">
        <td th:text="${gestor.nombre}"></td>
        <td th:text="${gestor.dni}"></td>
        <td th:text="${gestor.telefono}"></td>
        <td th:text="${gestor.codPostal}"></td>
        <td th:text="${gestor.pais}"></td>
        <td th:text="${gestor.direccion}"></td>
        <td th:text="${gestor.email}"></td>
        <td th:text="${gestor.nombreMunicipio}"></td>
        <td><a th:href="@{/gestorMunicipal/update/{dni}(dni=${gestor.dni})}"  class="btn btn-warning" type="button">Edita</a>
        </td>
        <td><a th:href="@{/gestorMunicipal/delete/{dni}(dni=${gestor.dni})}" class="btn btn-danger" role="button">Borra</a>
        </td>
    </tr>
    </tbody>

</table>
<a href="add" class="btn btn-success" role="button">Añade Gestor Municipal</a>
</div>
</body>
</html>