<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragmentos/base}">
<head>
    <title>Modificar gestor municipal</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href=href="https://bootswatch.com/5/minty/bootstrap.css"/>
</head>
<body>
<div layout:fragment="content">
<h2>Actualizar Gestor Municipal</h2>
<form action="#" th:action="@{/gestorMunicipal/update}"
      th:object="${gestor}" method="post">
    <table>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{dniCiudadano}" /></td>
        </tr>
        <tr>
            <td><label>DNI</label></td>
            <td><input type="text" th:field="*{dni}" /></td>
        </tr>
        <tr>
            <td><label>Telefono</label></td>
            <td><input type="tel" pattern="[0-9]{9}" th:field="*{telefono}" /></td>
        </tr>
        <tr>
            <td><label>Código Postal</label></td>
            <td><input type="text" th:field="*{codPostal}" /></td>
        </tr>
        <tr>
            <td><label>País</label></td>
            <td><input type="text" th:field="*{pais}" /></td>
        </tr>
        <tr>
            <td><label>Dirección</label></td>
            <td><input type="text" th:field="*{direccion}" /></td>
        </tr>
        <tr>
            <td><label>Email</label></td>
            <td><input type="text" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label>Nombre Municipio</label></td>
            <td><input type="text" th:field="*{nombreMunicipio}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Actualizar Gestor" /></td>
        </tr>
    </table>
</form>
</div>
</body>
</html>