<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SANA</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active"   th:href="@{/ciudadano/indice}">Página principal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  th:href="@{/espacioPublico/list}">Consultar espacios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active"  th:href="@{/reserva/list}">Consultar reservas</a>
                </li>

            </ul>
            <ul class="navbar-nav me-0">
                <li><a class="btn btn-light my-0 my-sm-0" href="/notificacion/list" th:href="@{/notificacion/list}">Notificaciones</a></li>
            </ul>
        </div>
    </div>
</nav>