<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>
<select class="form_control" th:field="*{pais}">
    <option value="Afganistán" >Afganistán</option>
    <option value="Albania" >Albania</option>
    <option value="Alemania" >Alemania</option>
    <option value="Andorra" >Andorra</option>
    <option value="Angola" >Angola</option>
    <option value="Anguila" >Anguila</option>
    <option value="Antártida" >Antártida</option>
    <option value="Antigua y Barbuda" >Antigua y Barbuda</option>
    <option value="Antillas holandesas" >Antillas holandesas</option>
    <option value="Arabia Saudí" >Arabia Saudí</option>
    <option value="Argelia" >Argelia</option>
    <option value="Argentina" >Argentina</option>
    <option value="Armenia" >Armenia</option>
    <option value="Aruba" >Aruba</option>
    <option value="Australia" >Australia</option>
    <option value="Austria" >Austria</option>
    <option value="Azerbaiyán" >Azerbaiyán</option>
    <option value="Bahamas" >Bahamas</option>
    <option value="Bahrein" >Bahrein</option>
    <option value="Bangladesh" >Bangladesh</option>
    <option value="Barbados" >Barbados</option>
    <option value="Bélgica" >Bélgica</option>
    <option value="Belice" >Belice</option>
    <option value="Benín" >Benín</option>
    <option value="Bermudas" >Bermudas</option>
    <option value="Bhután" >Bhután</option>
    <option value="Bielorrusia" >Bielorrusia</option>
    <option value="Birmania" >Birmania</option>
    <option value="Bolivia" >Bolivia</option>
    <option value="Bosnia y Herzegovina" >Bosnia y Herzegovina</option>
    <option value="Botsuana" >Botsuana</option>
    <option value="Brasil" >Brasil</option>
    <option value="Brunei" >Brunei</option>
    <option value="Bulgaria" >Bulgaria</option>
    <option value="Burkina Faso" >Burkina Faso</option>
    <option value="Burundi" >Burundi</option>
    <option value="Cabo Verde" >Cabo Verde</option>
    <option value="Camboya" >Camboya</option>
    <option value="Camerún" >Camerún</option>
    <option value="Canadá" >Canadá</option>
    <option value="Chad" i>Chad</option>
    <option value="Chile" >Chile</option>
    <option value="China" >China</option>
    <option value="Chipre" >Chipre</option>
    <option value="Ciudad estado del Vaticano" >Ciudad estado del Vaticano</option>

</select>


</body>
</html>