<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseCiudadano}">
<head>
    <title>Crear nueva reserva</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href=href="https://bootswatch.com/5/minty/bootstrap.css"/>
</head>
<body>
<div layout:fragment="content">
    <h2>Nueva Reserva</h2>
    <form action="#" th:action="@{/reserva/add}"
          th:object="${reserva}" method="post">
        <table>
            <input th:type="hidden" th:field="*{identificador}" th:value="${reserva.identificador}"/>
            <input th:type="hidden" th:field="*{dni}" th:value="${reserva.dni}"/>
            <input th:type="hidden" th:field="*{nombreEspacio}" th:value="${reserva.nombreEspacio}"/>
            <input th:type="hidden" th:field="*{fecha}" th:value="${reserva.fecha}"/>
            <input th:type="hidden" th:field="*{franja}" th:value="${reserva.franja}"/>
            <input th:type="hidden" th:field="*{numPersonas}" th:value="${reserva.numPersonas}"/>
            <tr>
                <td><label>Nombre Espacio: </label></td>
                <td th:text="${reserva.nombreEspacio}"  th:field="*{nombreEspacio}" th:value="reserva.nombreEspacio">></td>
                <td th:if="${#fields.hasErrors('numPersonas')}" th:errors="*{numPersonas}" class="error"></td>
            </tr>
            <tr>
                <td><label>Zonas 1</label></td>
                <td><select class="form_control"  th:field="*{zona1}">
                    <option th:each="zona : ${zonas}"
                            th:value="${zona.identificador}"
                            th:text="${zona.identificador}"></option>
                </select></td>
                <td th:if="${#fields.hasErrors('zona1')}" th:errors="*{zona1}" class="error"></td>
            </tr>
            <tr  th:if="${reserva.numPersonas}>5">
                <td><label>Zonas 2</label></td>
                <td><select class="form_control"  th:field="*{zona2}">
                    <option th:each="zona : ${zonas}"
                            th:value="${zona.identificador}"
                            th:text="${zona.identificador}"></option>
                </select></td>
                <td th:if="${#fields.hasErrors('zona2')}" th:errors="*{zona2}" class="error"></td>
            </tr>
            <tr  th:if="${reserva.numPersonas}>10">
                <td><label>Zonas 3</label></td>
                <td><select class="form_control"  th:field="*{zona3}">
                    <option th:each="zona : ${zonas}"
                            th:value="${zona.identificador}"
                            th:text="${zona.identificador}"></option>
                </select></td>
                <td th:if="${#fields.hasErrors('zona3')}" th:errors="*{zona3}" class="error"></td>
            </tr>
            <tr  th:if="${reserva.numPersonas}>15">
                <td><label>Zonas 4</label></td>
                <td><select class="form_control"  th:field="*{zona4}">
                    <option th:each="zona : ${zonas}"
                            th:value="${zona.identificador}"
                            th:text="${zona.identificador}"></option>
                </select></td>
                <td th:if="${#fields.hasErrors('zona4')}" th:errors="*{zona1}" class="error"></td>
            </tr>
        </table><br>
        <p>
            <input type="submit" class="btn btn-primary"   th:onclick="return confirm('¿Confirmas la reserva?');" value="Añadir Reserva" /></p>
        <a  th:href="@{/espacioPublico/info/{nombre}(nombre=${reserva.nombreEspacio})}"><button type="button" class="btn btn-secondary">Volver</button></a>
    </form>
</div>
</body>
</html>