<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseCiudadano}">
<head>
    <title>Reservas</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css" />
</head>
<body>
<div layout:fragment="content">
    <h1>Lista de Reservas</h1>
    <div th:if="${#lists.isEmpty(reservas)}">No tienes reservas</div>
    <table  th:unless="${#lists.isEmpty(reservas)}" class="table table-striped">
        <thead>
        <tr>
            <th>Zona</th>
            <th>Num Personas</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Hora Entrada</th>
            <th>Hora Salida</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reserva: ${reservas}">
            <td th:text="${reserva.identificadorZona}"></td>
            <td th:text="${reserva.numPersonas}"></td>
            <td th:text="${reserva.estado}"></td>
            <td th:text="${reserva.fecha}"></td>
            <td th:text="${reserva.horaEntrada}"></td>
            <td th:text="${reserva.horaSalida}"></td>
            <td><a th:if="${reserva.estado}=='PENDIENTE_USO'" th:href="@{/reserva/cancela/{identificador}(identificador=${reserva.identificador})}" class="btn btn-danger" role="button">Cancelar</a></td>
        </tr>
        </tbody>
    </table>
    <a href="/ciudadano/indice" th:href="@{/ciudadano/indice}"><button type="button" class="btn btn-warning">Volver</button></a>
</div>
</body>
</html>