<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseGestorMunicipal}">
<head>
    <title>Añadir Servicio Estacional</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href=href="https://bootswatch.com/5/minty/bootstrap.css"/>
</head>
<body>
<div layout:fragment="content">
    <h1>Añadir Servicio Estacional</h1>
    <form action="#" th:action="@{/servicio/add}"
          th:object="${periodo}" method="post">
        <table>
            <input th:type="hidden" th:field="*{nombreEspacioPublico}" th:value="${periodo.nombreEspacioPublico}"/>
            <input th:type="hidden" th:field="*{nombreServicioEstacional}" th:value="periodo.nombreServicioEstacional"/>
            <tr>
                <td><label>Espacio</label></td>
                <th scope="row" th:text="${periodo.nombreEspacioPublico}" th:field="*{nombreEspacioPublico}" th:value="periodo.nombreEspacioPublico"></th>
            </tr>
            <tr>
                <td><label>Servicio</label></td>
                <th scope="row" th:text="${periodo.nombreServicioEstacional}" th:field="*{nombreServicioEstacional}" th:value="periodo.nombreServicioEstacional"></td>
            </tr>
            <tr>
                <td><label>Fecha Inicio</label></td>
                <td><input type="date" th:field="*{fechaInicio}" th:min="${fechaMinima}" required/></td>
            </tr>
            <tr>
                <td><label>Fecha Fin</label></td>
                <td><input type="date" th:field="*{fechaFin}" th:min="${fechaMinima}" required/></td>
            </tr>
        </table>
        <table>
            <tr><td th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}" class="error"></td></tr>
            <tr><td th:if="${#fields.hasErrors('fechaFin')}" th:errors="*{fechaFin}" class="error"></td></tr>
        </table><br>
        <input   th:onclick="return confirm('¿Estas seguro de añadir el Servicio \'' +[[${periodo.nombreServicioEstacional}]]+'\'?');"
                 type="submit" class="btn btn-primary"  value="Añadir" />
    </form><br>
    <a th:href="@{/servicio/listEnEspacio/{nombreEspacio}(nombreEspacio=${periodo.nombreEspacioPublico})}" class="btn btn-secondary" type="button">Volver</a><br><br>
</div>
</body>
</html>