<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseGestorMunicipal}">
<head>
    <title>Gestionar Espacios Publicos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"  href="https://bootswatch.com/5/minty/bootstrap.css" />

</head>
<body>
<div layout:fragment="content" th:object="${espacio}">
    <h1>Servicios Permanentes Disponibles</h1>
    <h3 th:text="${espacio}"></h3>
    <div th:if="${#lists.isEmpty(serviciosPerma)}">No hay más servicios permanentes disponibles</div>
    <table  th:unless="${#lists.isEmpty(serviciosPerma)}" class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="servicioPerma: ${serviciosPerma}">
            <td th:text="${servicioPerma.nombre}"></td>
            <td th:text="${servicioPerma.tipoServicio}"></td>
            <td><a th:href="@{/servicio/addPermanente/{nombreEspacio}/{nombreServicio}(nombreEspacio=${espacio},nombreServicio=${servicioPerma.nombre})}"
                   th:onclick="return confirm('¿Estas seguro de añadir el Servicio \'' +[[${servicioPerma.nombre}]]+'\'?');"
                   class="btn btn-info" role="button">Añadir</a></td>
        </tr>
        </tbody>
    </table><br>
    <a th:href="@{/servicio/listEnEspacio/{nombreEspacio}(nombreEspacio=${espacio})}" class="btn btn-secondary" type="button">Volver</a><br><br>
</div>
</body>
</html>