/* Estil aplicat al cos de la pàgina */
body {
   font-family: Helvetica, Arial, sans-serif;
   background-color: 	white;
}

/* Classe CSS error */
.error {
     color: red;
     font-size:80%
}

/* Classe CSS per atributs erronis */
.needcorrection {
     color: red;
     background-color:yellow;
}


.loggeduser {
	color: gray;
	text-align: right;
    margin-right: 10pt;
}

div{
    text-align: center;
}

form {
    margin: 0 auto;
    width:350px;
}

table{
    text-align: left;
}