<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseGestorMunicipal}">
<head>
    <title>Crear nuevo espacio publico</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"  href="https://bootswatch.com/5/minty/bootstrap.css" />

</head>
<body>
<div layout:fragment="content">
<h2>Nuevo Espacio Público</h2>
<form action="#" th:action="@{/espacioPublico/add}" th:object="${espacioPublico}" method="post">
    <table>

        <tbody>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}"  required /></td>
        </tr>
        <tr>
            <td><label>Localización Geogrfica</label></td>
            <td><input type="text"  th:field="*{localizacionGeografica}" required /></td>

            <td><label>Ocupación</label></td>
            <td><input type="number" th:field="*{ocupacion}" min="10" max="4000" step="10"/></td>
        </tr>
        <tr>
            <td><label>Longitud</label></td>
            <td><input type="number" th:field="*{longitud}" min="10" step="10" required/></td>

            <td><label>Amplitud</label></td>
            <td><input type="number" th:field="*{amplitud}" min="10" step="10" required/></td>
        </tr>
        <tr>
            <td><label>Descripción</label></td>
            <td> <textarea rows="4" cols="25"  th:field="*{descripcion}" required></textarea></td>

            <td><label>Comentario</label></td>
            <td> <textarea rows="4" cols="25"  th:field="*{comentario}" required></textarea></td>
        </tr>


        <tr>
            <td><label>Municipio</label></td>
            <td><select class="form_control"  th:field="*{nombreMunicipio}">
                <option th:each="municipio : ${municipios}"
                        th:value="${municipio.nombre}"
                        th:text="${municipio.nombre}"></option>
            </select></td>


            <td><label>Orientación</label></td>
            <td><input type="text" th:field="*{orientacion}" required/></td>
        </tr>

        <tr>
            <td><label>Terreno</label></td>
            <td>
            <select name="my_html_select_box" th:field="*{tipoTerreno}">
                <option value="ARENA">Arena</option>
                <option value="TIERRA">Tierra</option>
                <option value="PIEDRA">Piedra</option>
                <option value="ROCOSO">Rocoso</option>
            </select></td>

            <td><label>Accceso</label></td>
            <td>
            <select name="my_html_select_box" th:field="*{tipoAcceso}">
                <option value="RESTRINGIDO">Restringido</option>
                <option value="ABIERTO">Abierto</option>
                <option value="CERRADO">Cerrado</option>
            </select></td>
        </tr>
        </tbody>
    </table><br>
    <input type="submit" th:onclick="return confirm('¿Estas seguro de añadir el Espacio Público?');"
           class="btn btn-success" value="Añadir" />
    <a  th:href="@{/espacioPublico/listRegistrado}"><button type="button" class="btn btn-warning">Volver</button></a>
</form>
</div>
</body>
</html>