<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseControlador}">
<head>
    <title>Gestionar Espacios Publicos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"  href="https://bootswatch.com/5/minty/bootstrap.css" />
</head>
<body>
<div layout:fragment="content">
<h1>Lista de Espacios Publicos</h1>
    <div th:with="espaciosPublicos=${espaciosPublicosPaged[__${selectedPage}__]}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Localización Geografica</th>
                <th>Ocupación</th>
                <th>Longitud</th>
                <th>Amplitud</th>
                <th>Orientación</th>
                <th>Comentario</th>
                <th>Tipo Terreno</th>
                <th>Tipo Acceso</th>
                <th>Municipio</th>

            </tr>

            </thead>
            <tbody>
            <tr th:each="espacioPublico: ${espaciosPublicos}">
                <td th:text="${espacioPublico.nombre}"></td>
                <td th:text="${espacioPublico.descripcion}"></td>
                <td th:text="${espacioPublico.localizacionGeografica}"></td>
                <td th:text="${espacioPublico.ocupacion}"></td>
                <td th:text="${espacioPublico.longitud}"></td>
                <td th:text="${espacioPublico.amplitud}"></td>
                <td th:text="${espacioPublico.orientacion}"></td>
                <td th:text="${espacioPublico.comentario}"></td>
                <td th:text="${espacioPublico.tipoTerreno}"></td>
                <td th:text="${espacioPublico.tipoAcceso}"></td>
                <td th:text="${espacioPublico.nombreMunicipio}"></td>
                </td>
            </tr>
            </tbody>

        </table>
        <nav aria-label="Seleccion de pagina">
            <ul class="pagination justify-content-center">
                <li th:class="page-item" th:if="${#lists.size(espaciosPublicosPaged) > 0}"
                    th:each="pageNumber : ${pageNumbers}" th:classappend="${pageNumber==selectedPage+1} ? active">
                    <a th:href="@{/espacioPublico/listRegistrado?page={sele}(sele=${pageNumber-1})}"
                       th:text=${pageNumber}
                       th:class="page-link">
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <a href="/controlador/indice" th:href="@{/controlador/indice}"><button type="button" class="btn btn-warning">Volver</button></a>
</div>
</body>
</html>