<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseSinRegistrar}">
<head>
    <title>Gestionar Espacios Publicos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"  href="https://bootswatch.com/5/minty/bootstrap.css" />
</head>
<body>
<div layout:fragment="content">
<h1>Lista de Espacios Publicos</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Tipo Terreno</th>
        <th>Tipo Acceso</th>
        <th>Municipio</th>

    </tr>

    </thead>
    <tbody>
    <tr th:each="espacioPublico: ${espaciosPublicos}">
        <td th:text="${espacioPublico.nombre}"></td>
        <td th:text="${espacioPublico.descripcion}"></td>
        <td th:text="${espacioPublico.tipoTerreno}"></td>
        <td th:text="${espacioPublico.tipoAcceso}"></td>
        <td th:text="${espacioPublico.nombreMunicipio}"></td>
        </td>
    </tr>
    </tbody>

</table>
</div>
</body>
</html>