<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseGestorMunicipal}">
<head>
    <title>Gestionar Espacios Publicos</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"  href="https://bootswatch.com/5/minty/bootstrap.css" />

</head>
<body>
<div layout:fragment="content">
<h1>Lista de Espacios Publicos</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Localización Geografica</th>
        <th>Ocupación</th>
        <th>Longitud</th>
        <th>Amplitud</th>
        <th>Orientación</th>
        <th>Comentario</th>
        <th>Tipo Terreno</th>
        <th>Tipo Acceso</th>
        <th>Municipio</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="espacioPublico: ${espaciosPublicos}">
        <td th:text="${espacioPublico.nombre}"></td>
        <td th:text="${espacioPublico.descripcion}"></td>
        <td th:text="${espacioPublico.localizacionGeografica}"></td>
        <td th:text="${espacioPublico.ocupacion}"></td>
        <td th:text="${espacioPublico.longitud}"></td>
        <td th:text="${espacioPublico.amplitud}"></td>
        <td th:text="${espacioPublico.orientacion}"></td>
        <td th:text="${espacioPublico.comentario}"></td>
        <td th:text="${espacioPublico.tipoTerreno}"></td>
        <td th:text="${espacioPublico.tipoAcceso}"></td>
        <td th:text="${espacioPublico.nombreMunicipio}"></td>
        <td><a th:href="@{/espacioPublico/update/{nombre}(nombre=${espacioPublico.nombre})}"  class="btn btn-warning" type="button">Edita</a></td>
        <td><a th:href="@{/espacioPublico/delete/{nombre}(nombre=${espacioPublico.nombre})}" class="btn btn-danger" role="button">Borra</a>
        <!-- <td><a th:href="@{}" class="btn btn-info" role="button">Añadir Servicio</a> -->
        </td>
    </tr>
    </tbody>

</table>
<a href="add" class="btn btn-success" role="button">Añade un Espacio Publico</a>

</div>
</body>
</html>