<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragmentos/baseCiudadano}">
<head>>
    <title>Notificaciones</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css" />

</head>
<body>
<div layout:fragment="content">
<h1>Notificaciones</h1>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Mensaje</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notificacion: ${notificaciones}">
        <td th:text="${notificacion.mensaje}"></td>
        <td><a th:href="@{/notificacion/delete/{dniCiudadano}(dniCiudadano=${notificacion.dniCiudadano})}" class="btn btn-danger" role="button">Borrar</a>
        </td>
    </tr>
    </tbody>

</table>
</div>
</body>
</html>